skimap {
    -fx-padding: 3;
    -fx-background-color: white;
}

.skimap SVGPath,
.skimap Polygon {
    -fx-stroke: #899aa7;
    -fx-stroke-width: 1px;
    -fx-fill: #d6e1ff;
}

.skimap SVGPath:hover,
.skimap Polygon:hover {
    -fx-cursor: hand;
    -fx-fill: #5e5e5e;
}

.skimap .CH {
    -fx-fill: #e8f4fd;
    -fx-stroke: #899aa7;
}

.skimap .selected {
    -fx-fill: rgba(10, 12, 125, 0.75);
}
.skimap .selected:hover {
    -fx-fill: #5e5e5e;
}

.skimap .skiregionDropdown {
    -fx-text-alignment: left;
    -fx-alignment: center;
    -fx-font-size: 30px;
    -fx-text-fill: black;
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}


.skimap .skiregionDropdown .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: #899aa7;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}


.skimap .clear{
    -fx-font-size: 14px;
    -fx-text-fill: grey;
    -fx-cursor: hand;
}

